.benefit {
    @include adaptiv-value("padding-top", 135, 46, 1);

    @media (max-width: $md2+px) {
        padding-top: 0;
    }

    // .benefit__container
    &__container {
    }

    // .benefit__body
    &__body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;

        @media (max-width: 900px) {
            flex-direction: column;
            align-items: center;
            @include adaptiv-value("gap", 60, 40, 1);
        }
    }

    // .benefit__content
    &__content {
        @include adaptiv-value("margin-top", 60, 20, 1);
        justify-self: flex-start;
        @include adaptiv-value("margin-left", 110, 10, 1);
    }

    // .benefit__chapter
    &__chapter {
    }

    // .benefit__title
    &__title {
    }

    // .benefit__text
    &__text {
        display: flex;
        align-items: center;
        font-weight: 600;
        @include adaptiv-value("font-size", 18, 16, 1);
        @include adaptiv-value("line-height", 28, 20, 1);
        @include adaptiv-value("width", 390, 265, 1);
        @include adaptiv-value("margin-bottom", 30, 20, 1);

        &::before {
            margin-right: 30px;
            font-size: 18px;
            color: $redColor;
        }
    }

    // .benefit__img
    &__img-l {
        align-self: flex-end;

        @media (max-width: 1292px) {
            display: none;
        }

        @media (max-width: 890px) {
            align-self: center;
        }

        @media (max-width: 700px) {
            display: block;
            order: 3;
        }
    }

    // .benefit__video
    &__img-b {
        @media (min-width: 890px) {
            margin-bottom: 100px;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }
}
