.footer {
    overflow: hidden;
    @include adaptiv-value("padding-top", 135, 46, 1);
    position: relative;
    // .footer__img
    &__img {
        position: absolute;
        bottom: -40px;
        z-index: -1;
        left: 50%;
        transform: translateX(-50%);
        @media (max-width: 982px) {
            bottom: -20px;
        }
        @media (max-width: 600px) {
            display: none;
        }
    }
    &__img2 {
        display: none;
        @media (max-width: 660px) {
            display: block;
            position: absolute;
            bottom: 0;
            margin: 0 auto;
            z-index: -1;
            left: 50%;
            transform: translateX(-50%);
            background: linear-gradient(180deg, #ede2d4 0%, rgba(237, 226, 212, 0) 100%);
        }
    }
    // .footer__container
    &__container {
    }
    // .footer__body
    &__body {
        display: grid;

        grid-template-columns: repeat(12, 1fr);

        @media (max-width: 900px) {
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(2, auto);
            justify-items: center;
        }
        @media (max-width: 660px) {
            padding-bottom: 40px;
        }
    }
    // .footer__contacts
    &__contacts {
        display: flex;
        flex-direction: column;

        @include adaptiv-value("margin-left", 110, 25, 0);
        @include adaptiv-value("padding-top", 25, 10, 1);
        grid-column: 1 / 8;
        @media (max-width: 900px) {
            grid-column: 1 / 4;
        }
        @media (max-width: 982px) {
            padding-bottom: 30px;
        }
        @media (max-width: 660px) {
            grid-row: 1;
            grid-column: 1 / 7;
        }
    }
    // .footer__chapter
    &__chapter {
        margin-bottom: 60px;
        @media (max-width: 982px) {
            margin-bottom: 70px;
            @include adaptiv-value("width", 520, 210, 1);
        }
    }
    // .footer__title
    &__title {
    }
    // .footer__phone
    &__phone {
        display: block;
        margin-right: 40px;
        @media (max-width: 1030px) {
            margin-bottom: 20px;
        }
    }
    &__phone-title {
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        /* identical to box height, or 175% */

        color: #000000;

        opacity: 0.5;
        margin-bottom: 15px;
    }
    // .footer__messengers
    &__messengers {
        display: flex;
        @media (max-width: 1030px) {
            flex-direction: column;
        }
    }
    &__messenger-title {
        margin-left: 12px;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        /* identical to box height, or 175% */

        color: #000000;

        opacity: 0.5;
        margin-bottom: 5px;
    }
    &__messenger {
        display: flex;
        font-size: 28px;

        :not(:last-child) {
            margin-right: 20px;
        }
    }
    &__tel {
        display: flex;
    }
    // .footer__telegram
    &__telegram {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #039be5;
        border-radius: 4px;
        padding-top: 10px;
        width: 75px;
        height: 75px;
        &:hover {
            background-color: #ffffff4f;
            transition: all 0.3s ease 0s;
        }
        &::after {
            margin-top: 3px;
            content: "Telegram";
            font-weight: 600;
            font-size: 13px;
            line-height: 28px;
            text-align: center;
            color: #000000;
            opacity: 0.5;
        }
    }
    // .footer__whatsapp
    &__whatsapp {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #4caf50;
        border-radius: 4px;
        padding-top: 10px;
        width: 75px;
        height: 75px;
        &:hover {
            background-color: #ffffff4f;
            transition: all 0.3s ease 0s;
        }
        &::after {
            margin-top: 3px;
            content: "Whatsapp";
            font-weight: 600;
            font-size: 13px;
            line-height: 28px;
            text-align: center;
            color: #000000;
            opacity: 0.5;
        }
    }
    // .footer__viber
    &__viber {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #7f40bd;
        border-radius: 4px;
        padding-top: 10px;
        width: 75px;
        height: 75px;
        &:hover {
            background-color: #ffffff4f;
            transition: all 0.3s ease 0s;
        }
        &::after {
            margin-top: 3px;
            content: "Viber";
            font-weight: 600;
            font-size: 13px;
            line-height: 28px;
            text-align: center;
            color: #000000;
            opacity: 0.5;
        }
    }
    .form {
        margin-left: 20px;
        grid-column: 8 / 12;
        top: 0;
        border-bottom: none;
        border-color: #f7f2ee;

        @media (max-width: 982px) {
            margin-top: 50px;
        }
        @media (max-width: 900px) {
            grid-column: 4 / 7;
        }
        @media (max-width: 660px) {
            grid-row: 2;
            grid-column: 1 / 7;
            margin-left: 0;
            margin-top: 0;
        }
        @media (max-width: 660px) {
            border-bottom: 7px solid #f7f2ee;
        }
        // .form__line
        &__line {
        }
        // .form__title
        &__title {
        }
        // .form__label
        &__label {
        }
        // .form__input
        &__input {
        }
        // .form__label-phone
        &__label-phone {
        }
        // .form__btn
        &__btn {
        }
        // .form__checkbox
        &__checkbox {
        }
    }
}

.chapter {
}
.title {
}
.menu {
    //
    &__tel {
    }
}

.form-footer {
}
.input {
}
.btn {
}
.checkbox {
    // .checkbox__input
    &__input {
    }
    // .checkbox__text
    &__text {
    }
}
