.gift {
    @include adaptiv-value("padding-top", 135, 46, 1);
    @include adaptiv-value("padding-bottom", 135, 240, 1);

    // .gift__container
    &__container {
    }

    // .gift__body
    &__body {
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        @media (max-width: 900px) {
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(2, auto);
            justify-items: center;
        }
    }

    // .gift__img
    &__img {
        @media (max-width: 900px) {
            margin-top: 50px;
        }

        position: relative;
        grid-column: 2 / 6;

        @media (max-width: $md2+px) {
            grid-column: 1 / 5;
        }

        @media (max-width: 900px) {
            grid-column: 1 / 7;
            grid-row: 2;
        }
    }

    &__img-b {
        @include adaptiv-value("width", 436, 280, 1);
        @include adaptiv-value("height", 673, 440, 1);

        @media (max-width: 900px) {
            height: 100%;
            width: 100%;
            max-width: 436px;
        }

        @media (max-width: 490px) {
            width: 100%;
            height: 100%;
        }
    }

    // .gift__content
    &__img-l {
        position: absolute;
        left: 70%;
        @include adaptiv-value("bottom", -100, -230, 1);

        @media (max-width: 900px) {
            left: calc(50% - 109px);
        }
    }

    // .gift__content
    &__content {
        @include adaptiv-value("margin-top", 60, 20, 1);
        @include adaptiv-value("width", 540, 280, 1);
        grid-column: 8 / 13;

        @media (max-width: 900px) {
            grid-row: 1;
            grid-column: 1 / 7;
            @include adaptiv-value("margin-left", 110, 25, 1);
        }

        @media (max-width: 350px) {
            margin-left: 10px;
        }
    }

    // .gift__chapter
    &__chapter {
    }

    // .gift__title
    &__title {
        @media (max-width: 340px) {
            font-size: 32px;
        }
    }

    // .gift__text
    &__text {
        margin-bottom: 30px;

        @media (max-width: 375px) {
            width: 273px;
        }
    }

    // .gift__btn
    &__btn {
        margin-top: 40px;
        width: 188px;
        height: 50px;
    }
}
