.reviews {
    @include adaptiv-value("padding-top", 135, 46, 1);
    // .reviews__container
    &__container {
    }
    // .reviews__body
    &__body {
    }
    &__content {
        @include adaptiv-value("margin-left", 110, 25, 1);
        @media (max-width: 900px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    // .reviews__chapter
    &__chapter {
    }
    // .reviews__title
    &__title {
    }
    // .reviews__slider
    &__slider {
    }

    &__slider-container {
        position: relative;
        margin: 0 auto;
        max-width: 584px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include adaptiv-value("padding-bottom", 40, 30, 1);
        @include adaptiv-value("padding-top", 100, 40, 1);
        @media (max-width: 360px) {
            padding-top: 0;
        }
        @media (min-width: 360px) {
            box-sizing: border-box;
            border: 5px solid #ffff;
            border-image: linear-gradient(180deg, rgb(255, 255, 255), rgba(255, 255, 255, 0)) 1;
        }

        &::before {
            content: "";
            position: absolute;

            @media (min-width: 360px) {
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: linear-gradient(180deg, #ebe0d3 0%, rgba(235, 224, 211, 0) 100%);
            }
        }
        &::after {
            content: "";
            height: 100%;
            position: absolute;
            right: 109%;
            top: 0;
            width: 9999999px;
            background: #f7f2ee;
        }
    }
}

.chapter {
}
.title {
}
.slider-reviews {
    @include adaptiv-value("width", 306, 256, 1);
    @include adaptiv-value("height", 678, 567, 1);
    @media (min-width: 701px) {
        margin-right: 70px;
    }
    .swiper-pagination-bullet {
        width: 20px;
        height: 4px;
        background: #adaaa7;
        border-radius: 10px;
    }
    .swiper-pagination-bullet-active {
        background: #ef3e16;
    }
    .swiper-slide {
        visibility: visible;
        opacity: 0.4;
        transform: scale(0.9);
    }
    .swiper-slide-next {
        transform: scale(0.9) translateX(100px);
    }
    .swiper-slide-active {
        transform: translateX(0px);
        opacity: 1;
        transform: scale(1);
        @media (max-width: 700px) {
            transform: scale(1);
        }
        filter: drop-shadow(0px 20px 25px rgba(0, 0, 0, 0.1)) drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.04));
    }
    &__pagination {
        display: flex;
        position: absolute;
        bottom: 0;
        left: calc(50% - 82px);
        z-index: 10;
        gap: 10px;
    }
    .swiper-slide-prev {
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s ease 0s;
    }
    // .slider-reviews__body
    &__body {
        overflow: visible;
    }
    &__slide3 {
    }
    // .slider-reviews__slide
    &__slide {
    }
    // .slider-reviews__img
    &__img {
        img {
            width: 100%;
        }
    }
    // .slider-reviews__arrows
    &__arrows {
        position: absolute;
        top: calc(50% - 60px);
        right: 8%;
        z-index: 10;
        display: flex;
        flex-direction: column;
    }

    .slider-arrows {
        @media (max-width: 700px) {
            display: none;
        }
    }
    .slider-arrow {
        // .slider-arrow__prev
        &__prev {
            order: 1;
            margin: 20px 0px 0px 0px;
        }
        // .slider-arrow__next
        &__next {
            margin: 0;
        }
    }
}
